{% extends 'base.html' %}

{% block title %}

Tagg: Tag Your Friends

{% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
        {% include 'header.html' %}

        <div class="container-fluid" style="margin-top: 2vh;">
            <div class="row">
                <div class="col-2">
                    <h1>Friends</h1>
                </div>
                <div class="col" style="padding: 0 12.5% 0 12.5%;">
                    <div id="poster">
                        <form method = 'post'>
                            <div class="row">
                                <div class="col d-flex" style="max-width: 5vh;align-items: flex-start;padding-top: 2px;">
                                    <img src="{{ current_user.propic }}" alt="profile" style="width: 35px;float: left; top: 0;left: 0;">
                                </div>
                                <div class="col d-flex align-items-center">
                                    <p style="float:left;">Posting as {{ current_user.first_name +' '+ current_user.last_name }}</p>
                                </div>
                                <div class="col">
                                    <p style="float: right;">{{ post.post(class='btn btn-primary') }}</p>
                                </div>
                            </div>
                            {{ post.hidden_tag() }}
                            {{ post.content(placeholder = 'What''s up?', id='postbox') }}

                        </form>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <h1>Community</h1>
                </div>

            </div>

        </div>








    {% else %}
    <div class="container-fluid vh-100" style="background-image: url(../static/homebg.svg);">
        <div class="row" style="right: 0; top: 0;">
            <a href="{{ url_for('home') }}"><img src="../static/tagg.svg" alt="tagg" class="img-thumbnail mx-auto d-block" style="border: none; width: auto; height: 250px;background: transparent"></a><br><br><br>
        </div>
        <div class="d-flex row align-items-center">
            <div class="col text-align-center">
                <h1 style="font-size: 15vh;">Find Friends.<br>Make Friends.</h1><br><br>
                <h1><a href="{{ url_for('login') }}"><button class="btn" style="font-size: 3vh;background-color: #190B28;color: white;">LogIn</button></a>&#160<span style="font-size: 25px;">(or)</span>&#160<a href="{{ url_for('register') }}"><button class="btn" style="font-size: 3vh;background-color: #190B28;color: white;">SignUp</button></a>&#160to find friends!</h1>
            </div>
            <div class="col">
                <img src="../static/homegif.gif" alt="tagg" class="mx-auto d-block" style="width: 60vh;background: transparent">
            </div>
        </div> <br><br><br>
        <div class="d-flex row float-bottom">
            <p style="text-align: center;">Made with ❤️ by Sree Teja Dusi. Project open-sourced on <a href="https://github.com/sreetejadusi">GitHub</a></p>
        </div>
    </div>
    {% endif %}

    <style>

        body{
            background-color: #fafafa;
        }


        #poster{

            width: 100%;
            background-color: white;
            resize: none;
            border: solid 0.1px black;
            padding: 1vh;
            border-radius:15px;
        }

        #postbox{
            width: 100%;
            border: none;
            height: 30vh;
            resize: none;
            border: none;
            scroll-behavior: smooth;
            overflow-x: hidden;
            overflow-y: visible;
            border-color: transparent;
            border-style: none;
        }

        #postbox::selection{
            background-color: #1768AC;
            color: white;

        }

    </style>

{% endblock %}